@font-face {
    font-family: comedy;
    src: url(../fonts/Gotham-UltraItalic.otf);
}

@font-face {
    font-family: edm;
    src: url(../fonts/nsteel.ttf);
}

@font-face {
    font-family: rock;
    src: url(../fonts/Toe\ the\ Lineless.ttf);
}

@font-face {
    font-family: mynav;
    src: url(../fonts/nav.ttf);
}

.heading {
    position: absolute;
}

#comedy h2 {
    font-family: comedy;
    font-size: 8vw;
    color: #1F1F20;
}

#comedy .heading {
    top: 0;
}

#edm h2 {
    font-family: edm;
    font-size: 8vw;
}

#edm .heading {
    top: 7vh;
}

#rock h2 {
    font-family: rock;
    font-size: 8vw;
}

#rock .heading {
    top: 7vh;
}

.c1 img {
    height: 45%;
    bottom: 2%;
    left: 20%;
    position: absolute;
}

.c2 img {
    height: 80%;
    left: -8%;
    position: inherit;
    top: 10%;
}

.c3 img {
    height: 47%;
    bottom: 2%;
    left: 29%;
    position: absolute;
}

.e1 img {
    height: 133%;
    position: absolute;
    left: 22%;
}

.e2 img {
    height: 90%;
    position: inherit;
    left: 20%;
    top: 40%;
}

.r1 img {
    height: 75%;
    position: inherit;
    top: 25%;
}

.r2 img {
    position: inherit;
    height: 40%;
    top: 45%;
    left: 20%;
}

/* Use minimum height as 560 */
@media (min-width: 320px) and (max-width: 424.98px) {
    .c1 img {}

    .c2 img {}

    .c3 img {}

    .e1 img {}

    .e2 img {}

    .r1 img {
        position: absolute;
        width: 75vw;
        height: auto;
        top: -47vw;
        left: 2rem;
    
    }

    .r2 img {
        position: absolute;
        width: 75vw;
        height: auto;
        top: 25vw;
        left: 1rem;
    }
}

/* Use minimum height as 730 */
@media (min-width: 425px) and (max-width:575.98px) {
    .r1 img {
        position: absolute;
        width: 75vw;
        height: auto;
        top: -47vw;
        left: 2rem;
    
    }

    .r2 img {
        position: absolute;
        width: 75vw;
        height: auto;
        top: 25vw;
        left: 1rem;
    }
}

/* Ipad */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation:portrait) {
    .r1 img {
        position: absolute;
        width: 67vw;
        height: auto;
        top: -39vw;
        left: 0rem;
    
    }

    .r2 img {
        position: absolute;
        width: 62vw;
        height: auto;
        top: 18vw;
        left: -6rem;;
    }
}

/* Ipad pro */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .r1 img {
        position: absolute;
        width: 60vw;
        height: auto;
        top: -39vw;
        left: 9rem;
    
    }

    .r2 img {
        position: absolute;
        width: 55vw;
        height: auto;
        top: 21vw;
        left: -6rem;
    }
}