@font-face { font-family: Vintage; src: url('../fonts/Vintage\ Warehouse.ttf');}
@font-face {
  font-family: mynav;
  src: url(../fonts/nav.ttf);
}

html, body {
  width: 100%;
  height: 100%;

}
body {
  /* display  : flex; */
  overflow-x: hidden; 
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.circle-ripple {
  background-image: url("../img/Bg.jpg");
  position: absolute;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  animation: ripple 1.5s linear 1;
  animation-fill-mode: forwards;
  z-index: 1;
}


.logo{
  position: relative;
  z-index: 2;
}

.logo img{
  width: 30rem;
  height: 20rem;
  position: relative;
}
.rulebook{
  position:absolute;
  text-align:center;
  background-color:white;
  /* -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 0 10%0;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%; */
  transform : rotate(-90deg);
  top:27%;
  right:-4%;
  width:10vw;
  z-index:10;
  text-decoration:none;
}

.rulebook p{
  padding-top:3%;
  color:black; 
  padding-bottom: 0%;
  top:50%;
  font-size:3vh;
  font-family:mynav;
}



@media only screen and (orientation:landscape) and (max-width:600px)
{
  .logo img{
    top: -40px;
    width: 24rem;
    height: 16rem;
  }

}

@media only screen and (min-width:1440px){
.logo img {
  width: 30rem;
  height: auto;
  top: 2em;
}
}

@media only screen and (max-width:1024px)
{
  .rulebook{
    top:20%;
    width:24vw;
    right:-10%;
  }
  .logo img {
    width: 30rem;
    height: 20rem;
    top: 1em;
  }
}

@media screen and (max-width:425px)
{
  .rulebook{
    top:20%;
    width:30.5vw;
    right:-10%;
  }
  .logo img{
    top: -20px;
  }
  .logo img {
    width: 23rem;
    height: 14rem;
    top: 21px;
  }
}
@media screen and (max-width:375px)
{
  .rulebook{
    top:20%;
    width:27.5vw;
    right:-10%;
  }
  .logo img {
    width: 18rem;
    height: auto;
    top: 21px;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.3), 
    0 0 0 2rem rgba(0, 0, 0, 0.3), 
    0 0 0 3rem rgba(0, 0, 0, 0.3), 
    0 0 0 5rem rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 4rem rgba(0, 0, 0, 0.3),
     0 0 0 6rem rgba(0, 0, 0, 0.3),
     0 0 0 8rem rgba(0, 0, 0, 0.3), 
     0 0 0 10rem rgba(0, 0, 0, 0);
  }
}

